<!DOCTYPE html>
<html>
<head>
    <title>Enter Divers</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Enter Divers</h1>
        <form method="post" id="diverForm">
            <label for="diver_name">Diver Name:</label>
            <input type="text" id="diver_name" name="diver_name" required>
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="8U Girls">8U Girls</option>
                <option value="8U Boys">8U Boys</option>
                <option value="9/10 Girls">9/10 Girls</option>
                <option value="9/10 Boys">9/10 Boys</option>
                <option value="11/12 Girls">11/12 Girls</option>
                <option value="11/12 Boys">11/12 Boys</option>
                <option value="13/14 Girls">13/14 Girls</option>
                <option value="13/14 Boys">13/14 Boys</option>
                <option value="15+ Girls">15+ Girls</option>
                <option value="15+ Boys">15+ Boys</option>
            </select>
            <input type="submit" value="Add Diver">
        </form>
        <h2>Participants:</h2>
        <ul>
            {% for diver in divers %}
            
            <li>{{ diver }} ({{diver_category_pairs[diver]}})
                <a href="{{ url_for('remove_diver', diver=diver|urlencode) }}" class="button remove-button">Remove</a>
            </li>
            {% endfor %}
        </ul>
        <a class="button" href="/judges">Next</a>
        <a class="button" href="/setup">Back</a>
        <a class="button" href="/clear">Clear</a>

        <script>
            document.getElementById('diverForm').addEventListener('submit', function(event) {
                document.getElementById('diver_name').focus();
            });

            // Initial focus when the page loads
            document.getElementById('diver_name').focus();
        </script>
    </div>
</body>
</html>
