<!DOCTYPE html>
<html>
<head>
    <title>Diving Score Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Diving Score Tracker</h1>
        <p>This Diving Tracker was made by Kristopher Kirkwood, for the intended use of recording scores of BCSSA competitions. Go Cruisers!</p>
        <p>If you have any suggestions for improvement, please email kriskirkwood@cruisersaquatics.com</p>
        <a href="/setup" class="button">Start Tracking Scores</a><br>
    </div>
    <script>
        function confirmClear() {
            return confirm("Are you sure you want to clear all scores?");
        }
    </script>
</body>
</html>