<!DOCTYPE html>
<html>
<head>
    <title>Judge Selection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select Number of Judges</h1>
        <form method="post">
            <label for="num_judges">Number of Judges:</label>
            <select id="num_judges" name="num_judges">
                <option value="5">5</option>   
                <option value="3">3</option>
            </select><br>
            <input type="submit" value="Submit">
        </form>
        <a class="button" href="/divers">Back</a>
        <a class="button" href="/clear">Clear</a>
    </div>
</body>
</html>