<!DOCTYPE html>
<html>
<head>
    <title>Diver Rankings</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Diver Rankings</h1>
        <ol>
            {% for place, diver, score in ranked_divers %}
            <li>{{ place }}. {{ diver }}: {{ "%.2f"|format(score) }}</li>
            {% endfor %}
        </ol>        
        <a class="button" href="/submit_scores">Back</a>
        <a class="button" href="/clear">Clear</a>
        <a class="button" href="/download_log_file">Download Score Summary</a>
    </div>
</body>
</html>